body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #121212; 
    color: #e0e0e0; 
}

/* Container and layout */
.container {
    display: flex;
    flex-direction: row;
}

.sidebar, .main-content {
    padding: 20px;
    overflow-y: auto;
}

.sidebar {
    flex: 1;
    max-width: 300px;
    background: #1e1e1e; /* Dark sidebar background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 10); /* Darker shadow */
}

.profile-pic img {
    width: 100%;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.5);
}

.personal-info {
    text-align: left;
}

.personal-info h2 {
    margin: 10px 0;
    color: #ffffff; /* White color for name */
}

.personal-info p {
    margin: 5px 0;
    color: #b0b0b0; /* Light grey for text */
}

.personal-info .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Skills section styling */
.skills h3 {
    margin-bottom: 10px;
    color: #ffffff; 
}

.skills .icon {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    margin-right: 5px;
}

.skill-bar {
    background: #333333; 
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 20px;
    max-width: 100%;
}

.skill-level {
    height: 100%;
    background: #4CAF50; 
}


.main-content {
    flex: 3;
    background: #1e1e1e; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 10); 
}

.main-content .icon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 5px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    color: #ffffff; 
}

.job, .project {
    margin-bottom: 20px;
}

.job h3, .project h3 {
    margin: 5px 0;
    color: #e0e0e0; /* Light color for job/project titles */
}

.job p, .project p {
    margin: 5px 0;
    color: #b0b0b0; /* Light grey for job/project text */
}

/* Card styling */
.card {
    padding: 20px;
    margin: 20px;
    background: #2e2e2e; /* Darker background for cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 10); /* Darker shadow */
    border-radius: 10px;
    color: #e0e0e0; /* Light text color inside cards */
}

